@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Student API and Course API user web interface by ADOMAS KAIRYS.</p>
</div>
